openapi: 3.0.3
info:
  contact:
    email: support@mudbase.dev
    name: MUDBASE Support
    url: https://mudbase.dev/support
  description: "MUDBASE is a scalable, real-time, and secure Backend-as-a-Service\
    \ (BaaS) platform \ndesigned for modern applications. Built with custom logic,\
    \ it offers fine-grained \ncontrol, extensibility, and enterprise-grade security.\n\
    \n## Features\n- 🔐 Multi-provider authentication (30+ OAuth providers)\n- 📊\
    \ Real-time database with collections\n- 📁 File storage and management\n- 🔑\
    \ API key management with permissions\n- 🔗 Webhook system with retry logic\n\
    - ⚡ Serverless functions\n- 💬 Multi-channel messaging (Push, Email, SMS)\n- 📈\
    \ Usage analytics and monitoring\n- 🌐 Real-time WebSocket events\n- 🔍 Full-text\
    \ search capabilities\n- 💳 Billing: fiat only for project subscriptions and org\
    \ BaaS checkout (platform fee split). On-chain billing is not exposed on these\
    \ APIs (optional `crypto-payment-module/` in repo, not mounted by default).\n\
    - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT\
    \ DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional\
    \ (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional\
    \ `infrastructureEnvironments[]` and edge/metering fields on `dedicated`.\n"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: MUDBASESDK
  version: 1.3.16
servers:
- description: Production server
  url: https://cloud.mudbase.dev
tags:
- description: User authentication and authorization
  name: Authentication
- description: User profile management
  name: Users
- description: Organization and team management
  name: Organizations
- description: |
    Project management and configuration. GET /api/projects/{projectId}/dashboard/overview returns the full dashboard KPI bundle (usage, active users, org-wide uptime/latency, 14d volume, recent activity).
  name: Projects
- description: Database schema and collection management
  name: Collections
- description: CRUD operations on collection data
  name: Data
- description: Bucket management operations
  name: Buckets
- description: File storage and management
  name: Files
- description: API key management and permissions
  name: API Keys
- description: |
    **Outbound webhooks (Mudbase → your URL):** Configure a single callback URL per project with `PUT /api/webhooks/projects/{projectId}/config`.
    When events fire, Mudbase creates **delivery log** rows (`WebhookLog` in the database) and HTTP POSTs to your URL.

    **What is `webhookId` in the API?**
    - In **`POST /api/webhooks/trigger`** and **`POST /api/webhooks/retry/{webhookId}`**, the id is the **MongoDB `_id` of a webhook delivery log** document—not a separate “subscription id” from the config endpoint.
    - After **`POST /api/webhooks/trigger`**, the JSON field **`webhookId`** in the response is that log’s **`_id`**. Use the same value in the retry path to re-queue delivery.
    - List logs with **`GET /api/webhooks`** (org-wide) or **`GET /api/webhooks/projects/{projectId}`** (project-scoped); each row’s **`_id`** is what you pass to retry.
    - Each log also has an internal string field **`webhookId`** (e.g. `manual-173…`) used for correlation; you normally use the document **`_id`** for retry.
  name: Webhooks
- description: Serverless function management
  name: Functions
- description: "Push notifications, email, and SMS"
  name: Messaging
- description: |
    Project-scoped transactional email queue, templates, analytics, and BYO SMTP (`/api/projects/{projectId}/email/...`).

    ### Template `{{placeholders}}` rules

    - Placeholders use the form `{{variableName}}` (case-sensitive). Every name that appears in `subject`, `htmlBody`, or `textBody` must be listed in the request body **`variables`** array **without** braces (e.g. use `userName` for `{{userName}}`).
    - When sending with **`POST .../email/send`**, pass values in **`data`**. The worker merges `data` with **layout defaults** (branding, footer, year, etc. from `augmentTemplateData`).
    - **Outer email shell** (header logo, brand title, footer, “Powered by …” on free plan) is applied **after** your HTML is rendered. You normally do **not** put shell tokens inside `htmlBody`; they are filled by the platform around your content.

    ### Common placeholders (transactional / auth templates)

    **Identity & app:** `{{appName}}`, `{{appNameDisplay}}`, `{{userName}}`, `{{USER_NAME}}`, `{{USER_EMAIL}}`, `{{orgName}}`, `{{projectName}}`, `{{projectId}}`.

    **Links & actions:** `{{resetUrl}}`, `{{verificationUrl}}`, `{{invitationUrl}}`, `{{magicLinkUrl}}`, `{{paymentLink}}`, `{{CTA_URL}}`, `{{SECURITY_URL}}`, `{{PLATFORM_URL}}`.

    **Invites & roles:** `{{inviterName}}`, `{{role}}`.

    **OTP / expiry copy:** `{{otpCode}}`, `{{EXPIRY_MINUTES}}`, `{{expiresIn}}`.

    **Sign-in alerts:** `{{REQUEST_TIME}}`, `{{REQUEST_IP}}`.

    **Plans & account:** `{{planName}}`, `{{PLAN_NAME}}`, `{{JOIN_DATE}}`.

    **Usage & org limits:** `{{percent}}`, `{{resource}}`, `{{used}}`, `{{limit}}`, `{{cutOffNote}}`.

    **Overage & spend (org billing emails):** `{{amount}}`, `{{period}}`, `{{softLimit}}`, `{{hardLimit}}`, `{{threshold}}`.

    **Payout alerts:** `{{currency}}`, `{{errorMessage}}`, `{{collectedAmount}}`, `{{threshold}}` (along with `{{projectId}}` above).

    ### Layout / branding (injected around your body; optional to reference in custom HTML)

    Filled by the renderer when the shared layout wraps content: branding and footer context includes values such as **`BRAND_NAME`**, **`BRAND_INITIAL`**, **`LOGO_URL`**, **`primaryColor`**, **`senderLine`**, **`YEAR`**, **`PLATFORM_NAME`**, **`footerLine`**, **`POWERED_BY_PLATFORM`** (HTML fragment when shown). If you reference any of these **inside** your `subject` / `htmlBody` / `textBody`, include the matching key in **`variables`** as well.

    ### Platform billing notification templates (separate helpers, e.g. subscription / trial / payment failed)

    Typical keys include: `{{customerName}}`, `{{planName}}`, `{{currency}}`, `{{amount}}`, `{{billingCycle}}`, `{{nextBillingDate}}`, `{{endDate}}`, `{{dueDate}}`, `{{updatePaymentUrl}}`, `{{daysLeft}}`, `{{monthlyAmount}}`, `{{yearlyAmount}}`, `{{savings}}`, `{{subscribeUrl}}`.

    ### Master list (every documented token, `{{name}}` form)

    Alphabetical (case-sensitive token names as used in templates):

    `{{amount}}`, `{{appName}}`, `{{appNameDisplay}}`, `{{billingCycle}}`, `{{BRAND_INITIAL}}`, `{{BRAND_NAME}}`, `{{collectedAmount}}`, `{{content}}`, `{{CTA_URL}}`, `{{currency}}`, `{{customerName}}`, `{{cutOffNote}}`, `{{daysLeft}}`, `{{dueDate}}`, `{{endDate}}`, `{{errorMessage}}`, `{{EXPIRY_MINUTES}}`, `{{expiresIn}}`, `{{footerLine}}`, `{{hardLimit}}`, `{{HEADER_LOGO}}`, `{{invitationUrl}}`, `{{inviterName}}`, `{{JOIN_DATE}}`, `{{limit}}`, `{{LOGO_URL}}`, `{{magicLinkUrl}}`, `{{monthlyAmount}}`, `{{nextBillingDate}}`, `{{orgName}}`, `{{otpCode}}`, `{{paymentLink}}`, `{{percent}}`, `{{period}}`, `{{PLAN_NAME}}`, `{{planName}}`, `{{PLATFORM_NAME}}`, `{{PLATFORM_URL}}`, `{{POWERED_BY_PLATFORM}}`, `{{primaryColor}}`, `{{projectId}}`, `{{projectName}}`, `{{REQUEST_IP}}`, `{{REQUEST_TIME}}`, `{{resetUrl}}`, `{{resource}}`, `{{role}}`, `{{SECURITY_URL}}`, `{{senderLine}}`, `{{savings}}`, `{{softLimit}}`, `{{subscribeUrl}}`, `{{threshold}}`, `{{updatePaymentUrl}}`, `{{used}}`, `{{USER_EMAIL}}`, `{{USER_NAME}}`, `{{userName}}`, `{{verificationUrl}}`, `{{YEAR}}`, `{{yearlyAmount}}`.

    Custom templates may introduce other names; anything you type as `{{token}}` must be listed in **`variables`** and supplied (or defaulted) via **`data`** / layout.

    Use **GET** `/api/projects/{projectId}/email/templates` and **GET** `/api/projects/{projectId}/email/templates/{name}` to see which names exist and whether the project uses a **custom** override (`isCustomized` / `isProjectOverride`).
  name: Email
- description: |
    Analytics and usage monitoring. GET /api/usage/projects/{projectId}/summary returns dashboard KPIs (requests trend, active users, 14d volume, per-project openapi-docs latency and org-wide uptime). GET /api/usage/overage returns overage line items for the org's current billing period (auth required).
  name: Usage
- description: Full-text search capabilities
  name: Search
- description: |
    Billing and subscription management. **Fiat only** on the live API: platform subscriptions + org payment processing (7% + $0.50 split). No crypto payment fields in billing responses.
    **Customer subscription payment flow (project-level plans):**
    1. GET /api/billing/public/projects/{projectId}/plans — list plans (no auth). Response: { plans: [...] }.
    2. POST /api/billing/public/projects/{projectId}/checkout — create checkout (no auth). Body: planId, billingCycle, customerInfo (email, name?), successUrl?, cancelUrl?. Response: { success, data: { checkoutUrl, authorizationUrl, accessCode?, reference, amount, currency } }.
    3. After user pays, POST /api/billing/public/projects/{projectId}/verify-payment?reference={reference} — verify and create subscription (reference is mudbase_...). Response: { success, message, data: { subscription } }.
    **Org-level BaaS plan payment (Starter, Growth, Scale — paymentService.js PLANS):**
    1. GET /api/billing/plans — list tiers (no auth). Response: { plans: [{ id, name, price, priceYearly, limits, overages }, ...] }.
    2. POST /api/billing/org/checkout — create a payment link (auth required). Body: planName (starter|growth|scale), billingCycle (monthly|yearly), redirectUrl?. Response: { success, data: { link, txRef, amount, amountCents } }.
    3. After user pays, POST /api/billing/org/verify-payment?tx_ref={txRef} — verify and update org plan. Response: { success, message, data: { plan, billingCycle, orgId } }.
    GET /api/billing/estimate returns current-month overage estimate and forecast; GET /api/usage/overage returns overage line items for the current period.
  name: Billing
- description: Real-time chat and messaging
  name: Chat
- description: Third-party service integrations
  name: Integrations
- description: "~~Project fee settings and payout management~~ (deprecated for non-custodial/project-only\
    \ setup)"
  name: Project Fees
- description: "~~Custom role and permission management for multi-role applications~~\
    \ (deprecated for project-based setup)"
  name: Roles
- description: Project app roles (starter `customer` role) with per-collection CRUD;
    add roles via API and match signup paths to each role's `signupEndpoint`
  name: Multi-Role Feature
- description: Configurable role elevation with admin approval support
  name: Role Elevation
- description: Secure role upgrades with payment verification
  name: Verified Role Upgrade
- description: Database backup and restore operations
  name: Backups
- description: "Compliance automation and security event logging (GDPR, SOC 2)"
  name: Compliance
- description: Real-time analytics and monitoring endpoints
  name: Real-time Analytics
- description: "Real-time WebSocket events for live data synchronization, chat, and\
    \ notifications"
  name: WebSocket Events
- description: System health and status
  name: Health
- description: "Block scanner metrics, logs, analytics, errors, performance, and alerts"
  name: Monitoring
- description: "Identity verification — platform KYC sessions, status, and white-label\
    \ webhook config"
  name: KYC
- description: Paid add-on marketplace — catalog discovery and project-scoped invocation
  name: Add-ons
paths:
  /api/auth/register:
    post:
      operationId: registerUser
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: john.doe@mudbase.dev
                  password: SecurePass123!
                  firstName: John
                  lastName: Doe
                  orgName: Mudbase
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: john.doe@mudbase.dev
                  password: SecurePass123!
                  firstName: John
                  lastName: Doe
                  orgName: Mudbase
            schema:
              $ref: "#/components/schemas/RegisterRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                message: User registered successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                user:
                  _id: 507f1f77bcf86cd799439011
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: owner
                  emailVerified: false
                  twoFactorEnabled: false
                  org: 685acbe0e129932fbb7a0fc3
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: User registered successfully
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "409":
          content:
            application/json:
              example:
                error: Resource already exists
                code: CONFLICT
                details: A resource with this identifier already exists
              schema:
                $ref: "#/components/schemas/Error"
          description: Resource conflict
        "429":
          content:
            application/json:
              example:
                error: Rate limit exceeded
                code: RATE_LIMITED
                details: Too many requests. Try again in 60 seconds
                retryAfter: 60
              schema:
                $ref: "#/components/schemas/registerUser_429_response"
          description: Rate limit exceeded
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Register new user
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/login:
    post:
      operationId: loginUser
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: john.doe@mudbase.dev
                  password: SecurePass123!
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: john.doe@mudbase.dev
                  password: SecurePass123!
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Login successful
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: owner
                  emailVerified: true
                  twoFactorEnabled: false
                  org:
                    _id: 685acbe0e129932fbb7a0fc3
                    name: Mudbase
                    slug: mudbase
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Login successful
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
      security: []
      summary: Login user
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/session:
    get:
      description: |
        Get the current authenticated user session information.
        Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: getCurrentSession
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: owner
                  org:
                    _id: 685acbe0e129932fbb7a0fc3
                    name: Mudbase
                    slug: mudbase
                authenticated: true
              schema:
                $ref: "#/components/schemas/SessionResponse"
          description: Current session
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Get current session
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/logout:
    post:
      description: |
        Logout the current authenticated user session.
        Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: logoutUser
      responses:
        "200":
          content:
            application/json:
              example:
                message: Logout successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Logout successful
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Logout user
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/refresh:
    post:
      description: |
        Exchange a valid refresh token for a new JWT access token and refresh token.
        Works for both **org-based** (platform/dashboard) and **project-based** auth; the same endpoint is used.
        The previous refresh token is invalidated (rotation). If the same refresh token is used again, the session is revoked (reuse detection).
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  refreshToken: refreshToken_example
            schema:
              $ref: "#/components/schemas/refreshToken_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Token refreshed successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
              schema:
                $ref: "#/components/schemas/refreshToken_200_response"
          description: New token pair issued
        "400":
          content:
            application/json:
              example:
                error: Refresh token is required
              schema:
                $ref: "#/components/schemas/refreshToken_400_response"
          description: Missing refresh token
        "401":
          content:
            application/json:
              example:
                error: Invalid or expired refresh token
              schema:
                $ref: "#/components/schemas/refreshToken_400_response"
          description: Invalid or expired refresh token (or reuse detected)
      security: []
      summary: Refresh access token (org and project)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/verify-email:
    post:
      description: |
        Verifies the user's email using the token from the link sent at signup.
        Use this for both organization and project signups (unauthenticated).
        Same behavior as POST /api/users/verify-email.
      operationId: verifyEmailAuth
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Minimal / required fields
                value:
                  token: verification-token-from-email-link
              complete:
                summary: All request fields
                value:
                  token: verification-token-from-email-link
                  projectId: projectId_example
            schema:
              $ref: "#/components/schemas/verifyEmailAuth_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Email verified successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Email verified
        "400":
          description: Invalid or missing token
      security: []
      summary: Verify email address (no auth)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/resend-verification:
    post:
      description: |
        Sends a new verification email to the given email (and optional project).
        For unauthenticated users who have not verified yet. Rate limited (e.g. 3 per 15 min per IP).
      operationId: resendVerificationAuth
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Minimal / required fields
                value:
                  email: user@example.com
              complete:
                summary: All request fields
                value:
                  email: user@example.com
                  projectId: projectId_example
            schema:
              $ref: "#/components/schemas/resendVerificationAuth_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: "If an account exists and is unverified, a verification email\
                  \ has been sent"
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Verification email sent (or generic message to prevent enumeration)
        "400":
          description: Email required
        "429":
          description: Too many requests (rate limit)
      security: []
      summary: Resend verification email (no auth)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/password-reset:
    post:
      description: |
        Sends a password reset link to the user's email. Use this for organization (platform) accounts.
        For project-based accounts use POST /api/auth/local/password-reset with projectId (sends OTP instead).
      operationId: requestPasswordReset
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: john.doe@mudbase.dev
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: john.doe@mudbase.dev
            schema:
              $ref: "#/components/schemas/requestPasswordReset_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: "If an account exists, a password reset email has been sent"
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password reset email sent (or generic message to prevent enumeration)
      security: []
      summary: Request password reset (organization / platform)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/password-reset/validate:
    post:
      description: |
        Call before showing the "set new password" form. Validates that the token from the reset link
        is still valid and not expired. Organization (platform) reset only.
      operationId: validatePasswordResetToken
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  token: abc123...
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  token: verification-token-from-email-link
            schema:
              $ref: "#/components/schemas/validatePasswordResetToken_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePasswordResetToken_200_response"
          description: Token is valid
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validatePasswordResetToken_400_response"
          description: Token invalid or expired
      security: []
      summary: Validate password reset token
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/password-reset/{token}:
    post:
      description: |
        Set new password using the token from the reset link. Validate the token first with
        POST /api/auth/password-reset/validate before showing the form.
        If the user's email was not yet verified, it is marked as verified upon successful reset.
      operationId: resetPassword
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  password: NewSecurePass123!
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  password: NewSecurePass123!
            schema:
              $ref: "#/components/schemas/resetPassword_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password reset successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password reset successful
      security: []
      summary: Reset password with token (organization / platform)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/oauth-org/providers:
    get:
      description: |
        Returns a list of OAuth providers that are configured and available for organization-based authentication.
        Providers are configured via environment variables (e.g., GOOGLE_CLIENT_ID, GITHUB_CLIENT_ID).
      operationId: getOrgOAuthProviders
      responses:
        "200":
          content:
            application/json:
              example:
                providers:
                - name: google
                  displayName: Google
                  strategy: google
                  defaultScope:
                  - profile
                  - email
                  authUrl: /api/auth/oauth-org/google
                - name: github
                  displayName: GitHub
                  strategy: github
                  defaultScope:
                  - user:email
                  authUrl: /api/auth/oauth-org/github
                total: 2
              schema:
                $ref: "#/components/schemas/getOrgOAuthProviders_200_response"
          description: List of available OAuth providers
      security: []
      summary: Get available OAuth providers for organization-based auth
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/oauth-org/{provider}:
    get:
      description: |
        Initiates OAuth authentication flow for organization-level signup/login.
        The OAuth provider must be configured via environment variables (e.g., GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET).
        After successful authentication, creates a new organization and user account, or logs in existing user.
      operationId: initiateOrgOAuth
      parameters:
      - example: google
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - discord
          - linkedin
          type: string
        style: simple
      - description: The URL to redirect to after authentication
        example: https://client.app/auth/callback
        explode: true
        in: query
        name: redirect_url
        required: false
        schema:
          format: uri
          type: string
        style: form
      responses:
        "302":
          description: Redirect to OAuth provider's consent screen
          headers:
            Location:
              description: OAuth provider authorization URL
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                notConfigured:
                  value:
                    error: google OAuth is not configured
                    message: "Missing environment variables: GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET"
                notSupported:
                  value:
                    error: OAuth provider 'invalid' is not supported
              schema:
                $ref: "#/components/schemas/initiateOrgOAuth_400_response"
          description: OAuth provider not configured or not supported
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Initiate OAuth authentication for organization
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/oauth-org/callback/{provider}:
    get:
      description: |
        Handles OAuth callback for organization-based authentication.
        Creates a new organization and user account if the user doesn't exist,
        or logs in existing user. Redirects to frontend with query params token, refreshToken, and expiresIn.
      operationId: orgOAuthCallback
      parameters:
      - example: google
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - discord
          - linkedin
          type: string
        style: simple
      - description: Authorization code from OAuth provider
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: State parameter for CSRF protection
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "302":
          description: Redirect with authentication result
          headers:
            Location:
              description: "URL to redirect to with token, refreshToken, and expiresIn\
                \ query params"
              example: https://client.app/auth/callback?token=...&refreshToken=...&expiresIn=1800
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                error: Email not provided by OAuth provider
              schema:
                $ref: "#/components/schemas/orgOAuthCallback_400_response"
          description: OAuth authentication failed
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: OAuth callback handler for organization
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/local/register:
    post:
      description: |
        When the project has **requireEmailVerification** enabled (default), the response is 201 with **requireVerification: true** and **no token**; the user must verify their email then sign in via login. When email verification is disabled, a token and refreshToken are returned.
      operationId: registerLocalUser
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: sarah.chen@example.com
                  password: SecurePass123!
                  firstName: Sarah
                  lastName: Chen
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: user@example.com
                  password: password_example
                  firstName: firstName_example
                  lastName: lastName_example
                  projectId: projectId_example
            schema:
              $ref: "#/components/schemas/registerLocalUser_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                verificationRequired:
                  summary: Email verification required (default)
                  value:
                    message: Please verify your email to sign in. Check your inbox
                      for the verification link.
                    requireVerification: true
                    user:
                      id: 685acbe0e129932fbb7a0fc2
                      email: john.doe@mudbase.dev
                      firstName: John
                      lastName: Doe
                      emailVerified: false
                      customRole: null
                tokenReturned:
                  summary: Token returned (when requireEmailVerification is false)
                  value:
                    message: Registration successful. Please check your email for
                      verification.
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    refreshToken: '...'
                    expiresIn: 86400
                    user:
                      id: 685acbe0e129932fbb7a0fc2
                      email: john.doe@mudbase.dev
                      firstName: John
                      lastName: Doe
                      emailVerified: false
                      customRole: null
              schema:
                $ref: "#/components/schemas/registerLocalUser_201_response"
          description: |
            When project.requireEmailVerification is on (default): no token returned; use requireVerification and message to prompt email verification, then user signs in via login. When off: token and refreshToken returned.
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "404":
          content:
            application/json:
              example:
                error: Resource not found
                code: NOT_FOUND
                details: The requested resource could not be found
              schema:
                $ref: "#/components/schemas/Error"
          description: Resource not found
        "429":
          content:
            application/json:
              example:
                error: Rate limit exceeded
                code: RATE_LIMITED
                details: Too many requests. Try again in 60 seconds
                retryAfter: 60
              schema:
                $ref: "#/components/schemas/registerUser_429_response"
          description: Rate limit exceeded
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Register new user (project-based)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/login:
    post:
      description: |
        When the project has **requireEmailVerification** enabled and the user has not verified their email, returns 403 with code **EMAIL_VERIFICATION_REQUIRED** (user must verify email first, then login again).
      operationId: loginLocalUser
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: sarah.chen@example.com
                  password: SecurePass123!
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: user@example.com
                  password: password_example
                  projectId: projectId_example
            schema:
              $ref: "#/components/schemas/loginLocalUser_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Login successful
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: developer
                  emailVerified: true
                  twoFactorEnabled: false
              schema:
                $ref: "#/components/schemas/loginLocalUser_200_response"
          description: Login successful
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
        "403":
          content:
            application/json:
              example:
                error: Email verification required
                code: EMAIL_VERIFICATION_REQUIRED
                message: Please verify your email to sign in. Check your inbox for
                  the verification link.
              schema:
                $ref: "#/components/schemas/loginLocalUser_403_response"
          description: Email verification required (project has requireEmailVerification
            and user has not verified)
        "429":
          content:
            application/json:
              example:
                error: Rate limit exceeded
                code: RATE_LIMITED
                details: Too many requests. Try again in 60 seconds
                retryAfter: 60
              schema:
                $ref: "#/components/schemas/registerUser_429_response"
          description: Rate limit exceeded
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Login user (project-based)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/logout:
    post:
      description: |
        Logout the current authenticated user session (project-based).
        Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: logoutLocalUser
      responses:
        "200":
          content:
            application/json:
              example:
                message: Logout successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Logout successful
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Logout user (project-based)
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/local/session:
    get:
      description: |
        Get the current authenticated user session (project-based).
        Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: getLocalSession
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  project:
                    id: 65f1a2b3c4d5e6f7a8b9c0d1
                    name: Mudbase Platform
                    role: developer
                authenticated: true
              schema:
                $ref: "#/components/schemas/getLocalSession_200_response"
          description: Current session
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
        "404":
          content:
            application/json:
              example:
                error: Resource not found
                code: NOT_FOUND
                details: The requested resource could not be found
              schema:
                $ref: "#/components/schemas/Error"
          description: Resource not found
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Get current session (project-based)
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/accept-invite:
    post:
      description: |
        Accept an organization invitation using the token from the invite email link (e.g. `/invite/{token}?orgId=...`).
        Creates a new user with the invited email and adds them to the organization with the invited role.
        Returns a JWT and user so the client can log the user in immediately. No authentication required.
      operationId: acceptInvite
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  token: a1b2c3d4e5f6...
                  password: SecurePass123!
                  firstName: Jane
                  lastName: Doe
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  token: verification-token-from-email-link
                  password: password_example
                  firstName: firstName_example
                  lastName: lastName_example
            schema:
              $ref: "#/components/schemas/acceptInvite_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                message: Invitation accepted. You are now a member of the organization.
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: jane.doe@example.com
                  firstName: Jane
                  lastName: Doe
                  org: 65f1a2b3c4d5e6f7a8b9c0d1
                  role: developer
                  emailVerified: true
              schema:
                $ref: "#/components/schemas/acceptInvite_201_response"
          description: Invitation accepted; user created and added to organization
        "400":
          content:
            application/json:
              examples:
                invalidToken:
                  value:
                    error: Invalid or expired invitation token
                expired:
                  value:
                    error: Invitation has expired
                userExists:
                  value:
                    error: User already exists with this email
              schema:
                $ref: "#/components/schemas/refreshToken_400_response"
          description: "Invalid or expired token, or user already exists with this\
            \ email"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshToken_400_response"
          description: Organization not found
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Accept organization invitation
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/password-reset:
    post:
      description: |
        When projectId is provided, sends a 6-digit OTP to the user's email (project-based reset uses OTP, not link).
        When projectId is omitted, sends a token link (org/platform local account). Rate limited.
      operationId: requestLocalPasswordReset
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: user@example.com
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: user@example.com
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
            schema:
              $ref: "#/components/schemas/requestLocalPasswordReset_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: "If an account exists, a verification code has been sent\
                  \ to your email"
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: OTP or reset email sent (generic message to prevent enumeration)
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "404":
          content:
            application/json:
              example:
                error: Resource not found
                code: NOT_FOUND
                details: The requested resource could not be found
              schema:
                $ref: "#/components/schemas/Error"
          description: Resource not found
        "429":
          description: Too many requests (rate limit)
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: "Request password reset (project-based, OTP)"
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/password-reset/confirm:
    post:
      description: |
        Set new password using the OTP sent to the user's email. Call after
        POST /api/auth/local/password-reset with projectId. Rate limited (OTP limit).
        If the user's email was not yet verified, it is marked as verified upon successful reset.
      operationId: confirmLocalPasswordResetWithOtp
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: user@example.com
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
                  otp: "123456"
                  newPassword: NewSecurePass123!
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: user@example.com
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
                  otp: "123456"
                  newPassword: NewSecurePass123!
            schema:
              $ref: "#/components/schemas/confirmLocalPasswordResetWithOtp_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password reset successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password reset successful
        "400":
          description: "Invalid or expired OTP, or validation error"
        "404":
          content:
            application/json:
              example:
                error: Resource not found
                code: NOT_FOUND
                details: The requested resource could not be found
              schema:
                $ref: "#/components/schemas/Error"
          description: Resource not found
        "429":
          description: Too many attempts (rate limit)
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Confirm password reset with OTP (project-based)
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/password-reset/{token}:
    post:
      description: |
        Legacy token-based completion. Prefer OTP flow: use POST .../password-reset/confirm
        with the OTP sent to email for project-based resets.
      operationId: resetLocalPassword
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  password: NewSecurePass123!
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  password: NewSecurePass123!
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
            schema:
              $ref: "#/components/schemas/resetLocalPassword_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password reset successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password reset successful
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: "Reset password with token (project-based, legacy)"
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/oauth/{provider}/{projectId}:
    get:
      description: |
        Initiates OAuth authentication flow for a specified provider and project.
        The OAuth provider must be configured and enabled for the project first.
        Returns an HTTP 302 redirect to the OAuth provider's consent screen.
        Note: Swagger "Try it out" may show "Failed to fetch" for this endpoint due to browser CORS restrictions on cross-origin redirects. Use top-level browser navigation or curl to test.
      operationId: initiateOAuth
      parameters:
      - example: google
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - apple
          - twitter
          - discord
          - linkedin
          - dropbox
          - slack
          - reddit
          - twitch
          - figma
          - zoom
          - bitbucket
          - salesforce
          - shopify
          - line
          - spotify
          - strava
          - paypal
          - asana
          - trello
          - okta
          - gitea
          - yandex
          - yahoo
          - vk
          - meetup
          type: string
        style: simple
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          example: 65f1a2b3c4d5e6f7a8b9c0d1
          type: string
        style: simple
      - description: The URL to redirect to after authentication. Must be pre-registered
          in project settings.
        example: https://client.app/auth/callback
        explode: true
        in: query
        name: redirect_url
        required: false
        schema:
          format: uri
          type: string
        style: form
      responses:
        "302":
          description: Redirect to OAuth provider's consent screen
          headers:
            Location:
              description: OAuth provider authorization URL
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                error: google authentication not enabled for this project
              schema:
                $ref: "#/components/schemas/initiateOAuth_400_response"
          description: "OAuth provider not configured, not enabled, or missing required\
            \ server/provider credentials"
        "404":
          content:
            application/json:
              example:
                error: Project not found
              schema:
                $ref: "#/components/schemas/initiateOAuth_404_response"
          description: Project not found
        "500":
          content:
            application/json:
              example:
                error: Internal server error
                code: INTERNAL_ERROR
                details: An unexpected error occurred
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
      security: []
      summary: Initiate OAuth authentication
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/oauth/callback/{provider}:
    get:
      description: |
        Handles OAuth callback for project-based authentication.
        This route must be matched before /api/auth/oauth/{provider}/{projectId}.
        Redirects to frontend with query params token, refreshToken, and expiresIn.
      operationId: oauthCallback
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: "Redirect with token, refreshToken, and expiresIn"
          headers:
            Location:
              description: "URL with token, refreshToken, expiresIn query params"
              example: https://client.app/callback?token=...&refreshToken=...&expiresIn=1800
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "429":
          content:
            application/json:
              example:
                error: Rate limit exceeded
                code: RATE_LIMITED
                details: Too many requests. Try again in 60 seconds
                retryAfter: 60
              schema:
                $ref: "#/components/schemas/registerUser_429_response"
          description: Rate limit exceeded
      security: []
      summary: OAuth callback handler (project-based)
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/oauth/providers/available:
    get:
      description: Returns a list of all supported OAuth providers with their configuration
        details
      operationId: getAvailableOAuthProviders
      responses:
        "200":
          content:
            application/json:
              example:
                providers:
                - name: google
                  displayName: Google
                  strategy: google
                  defaultScope:
                  - profile
                  - email
                  callbackUrl: /api/auth/oauth/callback/google
                  requiredFields:
                  - clientId
                  - clientSecret
                - name: github
                  displayName: GitHub
                  strategy: github
                  defaultScope:
                  - user:email
                  callbackUrl: /api/auth/oauth/callback/github
                  requiredFields:
                  - clientId
                  - clientSecret
                total: 29
              schema:
                $ref: "#/components/schemas/getAvailableOAuthProviders_200_response"
          description: List of available OAuth providers
      security: []
      summary: Get all available OAuth providers
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/auth/magic-link/send:
    post:
      operationId: sendMagicLink
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: user@example.com
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
                  redirectUrl: https://app.example.com/auth/callback
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: user@example.com
                  projectId: projectId_example
                  redirectUrl: redirectUrl_example
            schema:
              $ref: "#/components/schemas/MagicLinkRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Magic link sent successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Magic link sent
      security: []
      summary: Send magic link
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/magic-link/verify:
    post:
      operationId: verifyMagicLink
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InVzZXJAZXhhbXBsZS5jb20iLCJwcm9qZWN0SWQiOiI2ODVhZDMwYmUxMjk5MzJmYmI3YTEwNDciLCJpYXQiOjE3NTA3ODA4OTgsImV4cCI6MTc1MDc4NDQ5OH0.example
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InVzZXJAZXhhbXBsZS5jb20iLCJwcm9qZWN0SWQiOiI2ODVhZDMwYmUxMjk5MzJmYmI3YTEwNDciLCJpYXQiOjE3NTA3ODA4OTgsImV4cCI6MTc1MDc4NDQ5OH0.example
            schema:
              $ref: "#/components/schemas/verifyMagicLink_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Magic link verified successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
                  role: user
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Magic link verified
      security: []
      summary: Verify magic link
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/otp/send:
    post:
      operationId: sendOTP
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: user@example.com
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
                  method: email
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  phone: phone_example
                  email: user@example.com
                  projectId: projectId_example
                  method: sms
            schema:
              $ref: "#/components/schemas/OTPSendRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: OTP code sent successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: OTP sent
      summary: Send OTP code
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/otp/verify:
    post:
      operationId: verifyOTP
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  identifier: user@example.com
                  otp: "123456"
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  identifier: identifier_example
                  otp: otp_example
                  projectId: projectId_example
            schema:
              $ref: "#/components/schemas/OTPVerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: OTP verified successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: OTP verified
      summary: Verify OTP code
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/anonymous:
    post:
      description: Create an anonymous user session for guest access. Users can later
        convert to full accounts.
      operationId: createAnonymousSession
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
                  deviceId: device-uuid-123
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  projectId: 65f1a2b3c4d5e6f7a8b9c0d1
                  deviceId: device-uuid-123
            schema:
              $ref: "#/components/schemas/createAnonymousSession_request"
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                message: Anonymous session created
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 86400
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: anonymous_abc123@anonymous.local
                  firstName: Anonymous
                  lastName: User
                  role: viewer
                  isAnonymous: true
              schema:
                $ref: "#/components/schemas/createAnonymousSession_200_response"
          description: Anonymous session created
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "403":
          content:
            application/json:
              example:
                error: Access denied
                code: FORBIDDEN
                details: Insufficient permissions for this action
              schema:
                $ref: "#/components/schemas/Error"
          description: Access denied
        "404":
          content:
            application/json:
              example:
                error: Resource not found
                code: NOT_FOUND
                details: The requested resource could not be found
              schema:
                $ref: "#/components/schemas/Error"
          description: Resource not found
      security: []
      summary: Create anonymous session
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/anonymous/convert:
    post:
      description: |
        Convert an anonymous user session to a full authenticated account. Preserves user data. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: convertAnonymousAccount
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  email: user@example.com
                  password: SecurePassword123!
                  firstName: John
                  lastName: Doe
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  email: user@example.com
                  password: SecurePassword123!
                  firstName: John
                  lastName: Doe
            schema:
              $ref: "#/components/schemas/convertAnonymousAccount_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account created successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
                  role: developer
                  emailVerified: false
                  isAnonymous: false
              schema:
                $ref: "#/components/schemas/convertAnonymousAccount_200_response"
          description: Account converted successfully
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Convert anonymous account to full account
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/me:
    get:
      description: |
        Get the current authenticated user's profile.
        Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth - both are the same JWT token format).
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: owner
                  emailVerified: true
                  twoFactorEnabled: false
              schema:
                $ref: "#/components/schemas/getCurrentUser_200_response"
          description: User profile
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Get current user profile
      tags:
      - Users
      x-accepts:
      - application/json
  /api/users/update:
    patch:
      description: |
        Update the current user's profile. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: updateUserProfile
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  firstName: John
                  lastName: Doe
                  avatar: https://example.com/avatar.jpg
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  firstName: firstName_example
                  lastName: lastName_example
                  avatar: avatar_example
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Profile updated successfully
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  avatar: https://example.com/avatar.jpg
              schema:
                $ref: "#/components/schemas/updateUserProfile_200_response"
          description: Profile updated
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Update user profile
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/password:
    patch:
      description: |
        Change the current user's password. Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth - both are the same JWT token format). API keys are not supported for this endpoint.
      operationId: changePassword
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  currentPassword: OldPassword123!
                  newPassword: NewSecurePass123!
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  currentPassword: currentPassword_example
                  newPassword: newPassword_example
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password changed successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password changed
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Change password
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/2fa/setup:
    post:
      description: |
        Setup two-factor authentication for the current user. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: setup2FA
      responses:
        "200":
          content:
            application/json:
              example:
                secret: JBSWY3DPEHPK3PXP
                qrCode: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                backupCodes:
                - "12345678"
                - "87654321"
              schema:
                $ref: "#/components/schemas/TwoFASetupResponse"
          description: 2FA setup data
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Setup 2FA
      tags:
      - Users
      x-accepts:
      - application/json
  /api/users/2fa/verify:
    post:
      description: |
        Verify and enable two-factor authentication for the current user. Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth - both are the same JWT token format). API keys are not supported for this endpoint.
      operationId: verify2FA
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  token: "123456"
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  token: "123456"
            schema:
              $ref: "#/components/schemas/verify2FA_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: 2FA enabled successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: 2FA enabled
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Verify and enable 2FA
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/2fa/disable:
    post:
      description: |
        Disable two-factor authentication for the current user. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: disable2FA
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  password: SecurePass123!
                  token: "123456"
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  password: SecurePass123!
                  token: "123456"
            schema:
              $ref: "#/components/schemas/disable2FA_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: 2FA disabled successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: 2FA disabled
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Disable 2FA
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/verify-email:
    post:
      description: |
        Verifies the user's email using the token from the link sent at signup.
        Works for both organization (platform) and project-based signups; the token
        is from the verification link (e.g. verify-email?token=... for org, or
        verify-email?token=...&project=... for project).
      operationId: verifyEmail
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  token: a1b2c3d4...
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  token: verification-token-from-email-link
                  projectId: projectId_example
            schema:
              $ref: "#/components/schemas/verifyEmailAuth_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Email verified successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Email verified
        "400":
          description: Invalid verification token
      summary: Verify email address (organization and project)
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/resend-verification:
    post:
      description: |
        Sends a new verification email to the authenticated user. Rate limited
        (e.g. 3 requests per 15 minutes per user). For project-scoped users the
        link includes project context.
      operationId: resendVerificationEmail
      responses:
        "200":
          content:
            application/json:
              example:
                message: Verification email sent successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Verification email sent
        "400":
          description: Email already verified
        "429":
          description: Too many requests (rate limit)
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Resend verification email
      tags:
      - Users
      x-accepts:
      - application/json
  /api/users/me/export:
    get:
      description: |
        Export all user data in JSON format for GDPR data portability compliance. Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth - both are the same JWT token format). API keys are not supported for this endpoint.
      operationId: exportUserData
      responses:
        "200":
          content:
            application/json:
              example:
                exportedAt: 2024-12-16T10:00:00Z
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
                projects: []
                wallets: []
                transactions: []
                files: []
                integrations: []
                apiKeys: []
              schema:
                $ref: "#/components/schemas/exportUserData_200_response"
          description: User data export
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Export user data (GDPR Article 15)
      tags:
      - Users
      x-accepts:
      - application/json
  /api/users/me/erase:
    post:
      description: |
        Request account erasure (right to be forgotten). Anonymizes PII, revokes all sessions
        and API keys, and disables the account immediately (not a grace period - the effect is
        immediate and irreversible). Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth
        - both are the same JWT token format). API keys are not supported for this endpoint.

        Requires re-proving your current password (skipped only for OAuth-only accounts with no
        password set) and, if 2FA is enabled, a fresh TOTP code - the same step-up re-authentication
        already required by the less-destructive `PATCH /api/users/password` and
        `POST /api/users/2fa/disable`.
      operationId: eraseUserData
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  confirm: DELETE
                  currentPassword: CurrentPassword123!
              complete:
                summary: All request fields (2FA-enabled account)
                value:
                  confirm: DELETE
                  currentPassword: CurrentPassword123!
                  totpToken: "123456"
            schema:
              $ref: "#/components/schemas/eraseUserData_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                message: User data anonymized and account disabled
                data:
                  alreadyErased: false
                  subjectId: 685acbe0e129932fbb7a0fc2
                  anonymized: true
                  sessionsRevoked: true
              schema:
                $ref: "#/components/schemas/eraseUserData_200_response"
          description: Account erased
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshToken_400_response"
          description: "Missing/invalid confirm, currentPassword, or totpToken"
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/eraseUserData_409_response"
          description: Sole owner of one or more organizations - transfer or delete
            them first
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Delete user data (GDPR Article 17)
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/me/oauth-providers:
    get:
      description: |
        Get all OAuth providers linked to the current user's account. Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth - both are the same JWT token format). API keys are not supported for this endpoint.
      operationId: listOAuthProviders
      responses:
        "200":
          content:
            application/json:
              example:
                providers:
                - provider: google
                  providerId: google-user-id-123
                  email: user@gmail.com
                  linkedAt: 2024-12-01T10:00:00Z
                - provider: github
                  providerId: github-user-id-456
                  username: johndoe
                  linkedAt: 2024-12-15T14:30:00Z
              schema:
                $ref: "#/components/schemas/listOAuthProviders_200_response"
          description: List of linked OAuth providers
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: List linked OAuth providers
      tags:
      - Users
      x-accepts:
      - application/json
  /api/users/me/oauth-providers/link/{provider}:
    get:
      description: |
        Initiate OAuth flow to link a new provider to the current account. Accepts JWT Bearer token (OrgBearerAuth or ProjectBearerAuth - both are the same JWT token format). API keys are not supported for this endpoint.
      operationId: linkOAuthProvider
      parameters:
      - example: google
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - apple
          - twitter
          - discord
          - linkedin
          type: string
        style: simple
      - example: 65f1a2b3c4d5e6f7a8b9c0d1
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "302":
          description: Redirect to OAuth provider
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Link OAuth provider to account
      tags:
      - Users
      x-accepts:
      - application/json
  /api/users/me/oauth-providers/{provider}:
    delete:
      description: |
        Remove an OAuth provider from the current account. Cannot unlink if it's the only authentication method. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint.
      operationId: unlinkOAuthProvider
      parameters:
      - example: github
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - apple
          - twitter
          - discord
          - linkedin
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: OAuth provider unlinked successfully
                provider: github
              schema:
                $ref: "#/components/schemas/unlinkOAuthProvider_200_response"
          description: Provider unlinked successfully
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                code: VALIDATION_ERROR
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "401":
          content:
            application/json:
              example:
                error: Authentication required
                code: UNAUTHORIZED
                details: Valid authentication credentials are required
              schema:
                $ref: "#/components/schemas/Error"
          description: Authentication required
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Unlink OAuth provider
      tags:
      - Users
      x-accepts:
      - application/json
  /api/orgs:
    get:
      description: |
        Get all organizations the authenticated user belongs to.
        Requires: OrgBearerAuth (organization-level authentication only).
      operationId: listOrganizations
      responses:
        "200":
          content:
            application/json:
              example:
                orgs:
                - _id: 685acbe0e129932fbb7a0fc3
                  name: Mudbase Inc
                  slug: mudbase-inc
                  description: Main organization
                  createdAt: 2024-01-15T10:00:00.000Z
                total: 1
              schema:
                $ref: "#/components/schemas/listOrganizations_200_response"
          description: List of organizations
      security:
      - OrgBearerAuth: []
      summary: Get all organizations for user
      tags:
      - Organizations
      x-accepts:
      - application/json
    post:
      deprecated: true
      description: |
        ~~Create a new organization.~~
        This endpoint is disabled and kept only for backward compatibility in documentation.
        Requires: OrgBearerAuth (organization-level authentication only).
      operationId: createOrganization
      requestBody:
        content:
          application/json:
            examples:
              standard:
                summary: Typical request
                value:
                  name: Mudbase Inc
                  description: Main organization
                  logo: https://example.com/logo.png
                  website: https://mudbase.dev
                  parentOrgId: 685acbe0e129932fbb7a0fc3
              complete:
                description: Merges the typical example with optional fields from
                  the schema.
                summary: All request fields
                value:
                  name: Mudbase Inc
                  description: Main organization
                  logo: https://example.com/logo.png
                  website: https://mudbase.dev
                  parentOrgId: 685acbe0e129932fbb7a0fc3
            schema:
              $ref: "#/components/schemas/createOrganization_request"
        required: true
      responses:
        "403":
          content:
            application/json:
              example:
                error: Creating organizations via API is disabled.
                code: ORG_CREATION_DISABLED
              schema:
                $ref: "#/components/schemas/createOrganization_403_response"
          description: Organization creation disabled
      security:
      - OrgBearerAuth: []
      summary: "~~Create new organization~~ (disabled)"
      tags:
      - Organizations
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/orgs/{orgId}:
    delete:
      description: |
        Delete an organization permanently. This is a destructive operation.
        Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations.
      operationId: deleteOrganization
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 685acbe0e129932fbb7a0fc3
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: Organization deleted successfully
              schema:
                $ref: "#/components/schemas/deleteOrganization_200_response"
          description: Organization deleted
      security:
      - OrgBearerAuth: []
      - ProjectBearerAuth: []
      summary: Delete organization
      tags:
      - Organizations
      x-accepts:
      - application/json
    get:
      description: |
        Get organization details by ID.
        Requires: OrgBearerAuth (organization-level authentication only).
      operationId: getOrganization
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          example: 685acbe0e129932fbb7a0fc3
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                _id: 685acbe0e129932fbb7a0fc3
                name: Mudbase Inc
                slug: mudbase-inc
                description: Main organization
                plan: pro
                createdAt: 2024-01-15T10:00:00.000Z
              schema:
[...]
