openapi: 3.0.3
info:
  contact:
    email: support@mudbase.dev
    name: MUDBASE Support
    url: https://mudbase.dev/support
  description: "MUDBASE is a scalable, real-time, and secure Backend-as-a-Service\
    \ (BaaS) platform \ndesigned for modern applications. Built with custom logic,\
    \ it offers fine-grained \ncontrol, extensibility, and enterprise-grade security.\n\
    \n## Features\n- 🔐 Multi-provider authentication (30+ OAuth providers)\n- 📊\
    \ Real-time database with collections\n- 📁 File storage and management\n- 🔑\
    \ API key management with permissions\n- 🔗 Webhook system with retry logic\n\
    - ⚡ Serverless functions\n- 💬 Multi-channel messaging (Push, Email, SMS)\n- 📈\
    \ Usage analytics and monitoring\n- 🌐 Real-time WebSocket events\n- 🔍 Full-text\
    \ search capabilities\n- 💳 Billing: Flutterwave only for fiat (platform subscriptions\
    \ + org payment processing with 7% + $0.50 split); crypto payment processor for\
    \ multi-chain checkout\n- 📡 Block-based multi-chain wallet monitoring (ETH/UTXO\
    \ scanners, GetBlock, scanner metrics API)\n"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: MUDBASESDK
  version: 1.2.7
servers:
- description: Production server
  url: https://cloud.mudbase.dev
tags:
- description: User authentication and authorization
  name: auth
- description: User profile management
  name: users
- description: Database schema and collection management
  name: collections
- description: CRUD operations on collection data
  name: data
- description: "Buckets and file storage (buckets, files, upload, signed URLs)"
  name: storage
- description: Webhook configuration and logs
  name: webhooks
- description: Serverless function management
  name: functions
- description: "Push notifications, email, and SMS"
  name: messaging
- description: |
    Project-level usage and analytics. Use /api/usage/projects/{projectId} and /api/usage/trends. Org usage and overage are in the dashboard.
  name: usage
- description: Full-text search capabilities
  name: search
- description: |
    Cryptocurrency wallet management. Supports multiple chains (EVM, UTXO, Solana, Tron, TON, Cardano).
    **Production flow (non-custodial):** Register addresses (POST /api/wallet/non-custodial/register-address), get network fee (POST /api/wallet/estimate-network-fee or GET /api/wallet/fees), build and sign tx client-side, broadcast (POST /api/wallet/non-custodial/broadcast). Stuck EVM txs: GET replacement params (POST speed-up or cancel), sign and broadcast again.
    **Custodial endpoints (for testing only):** Create wallet (POST /api/wallet/create), get private key (GET /api/wallet/{walletId}/private-key), register that address in non-custodial, then use estimate-network-fee + broadcast to test the full flow. Custodial withdraw (POST /api/wallet/{walletId}/withdraw) returns a **semi-transaction** (signedTx, chain, fromAddress)—it does not broadcast; you broadcast it via POST /api/wallet/non-custodial/broadcast. Supports all platform chains/currencies. Transactions appear in the same transaction list and can be speed-up/canceled via nonce.
    **Network fee only:** POST /api/wallet/estimate-network-fee and POST /api/wallet/calculate-fee return **network fee only** (from blockchain). No platform or project fee in fee estimation. See docs/FEE_ARCHITECTURE.md.
  name: wallet
- description: |
    Billing and subscription management. Fiat via Flutterwave only (platform subscriptions + org payment processing with 7% + $0.50 split). Crypto checkout via multi-chain payment processor.
    Project checkout and subscription endpoints are documented here; org billing and overage are in the dashboard.
  name: billing
- description: Real-time chat and messaging
  name: chat
- description: Third-party service integrations
  name: integrations
- description: Ready-to-use multi-role system with pre-built templates and role-based
    signup
  name: multiRole
- description: Configurable role elevation with admin approval support
  name: roleElevation
- description: "Compliance automation and security event logging (GDPR, SOC 2)"
  name: compliance
- description: Real-time analytics and monitoring endpoints
  name: realtimeAnalytics
- description: System health and status
  name: health
paths:
  /api/auth/local/register:
    post:
      description: |
        When the project has **requireEmailVerification** enabled (default), the response is 201 with **requireVerification: true** and **no token**; the user must verify their email then sign in via login. When email verification is disabled, a token and refreshToken are returned.
      operationId: auth.register
      requestBody:
        content:
          application/json:
            example:
              email: sarah.chen@example.com
              password: SecurePass123!
              firstName: Sarah
              lastName: Chen
              projectId: 685ad30be129932fbb7a1047
            schema:
              $ref: "#/components/schemas/auth_register_request"
        description: "Registration payload (email, password, firstName, lastName,\
          \ projectId)."
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                emailVerificationOn:
                  summary: Email verification ON (default) — no token until verified
                  value:
                    message: Check your email to verify your account
                    requireVerification: true
                emailVerificationOff:
                  summary: Email verification OFF — token returned immediately
                  value:
                    message: Registration successful
                    requireVerification: false
                    token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    expiresIn: 65051
                    user:
                      id: 685acbe0e129932fbb7a0fc2
                      email: john.doe@mudbase.dev
                      firstName: John
                      lastName: Doe
                      emailVerified: true
                      customRole: null
              schema:
                $ref: "#/components/schemas/auth_register_201_response"
          description: |
            When project.requireEmailVerification is on (default): no token returned; use requireVerification and message to prompt email verification, then user signs in via login. When off: token and refreshToken returned.
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "404":
          content:
            application/json:
              example:
                error: Project not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Project not found (exact backend message for project endpoints).
        "429":
          content:
            application/json:
              example:
                error: API key rate limit exceeded
              schema:
                $ref: "#/components/schemas/auth_register_429_response"
          description: |
            Rate limit exceeded. The **error** field contains the exact backend message, e.g. "API key rate limit exceeded", "Please wait before requesting another magic link".
        "500":
          content:
            application/json:
              example:
                error: Failed to upload file
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Server error. The **error** field contains the exact backend message, e.g. "Authentication failed", "Failed to upload file", "Failed to fetch project".
      security: []
      summary: Register new user
      tags:
      - auth
      x-display-name: Register User
      x-sdk-method: register
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/login:
    post:
      description: |
        When the project has **requireEmailVerification** enabled and the user has not verified their email, returns 403 with code **EMAIL_VERIFICATION_REQUIRED** (user must verify email first, then login again).
      operationId: auth.login
      requestBody:
        content:
          application/json:
            example:
              email: sarah.chen@example.com
              password: SecurePass123!
              projectId: 685ad30be129932fbb7a1047
            schema:
              $ref: "#/components/schemas/auth_login_request"
        description: "Login credentials (email, password) and project ID."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Login successful
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: developer
                  emailVerified: true
                  twoFactorEnabled: false
              schema:
                $ref: "#/components/schemas/auth_login_200_response"
          description: Login successful
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Email verification required
                code: EMAIL_VERIFICATION_REQUIRED
                message: Please verify your email to sign in. Check your inbox for
                  the verification link.
              schema:
                $ref: "#/components/schemas/auth_login_403_response"
          description: Email verification required (project has requireEmailVerification
            and user has not verified)
        "429":
          content:
            application/json:
              example:
                error: API key rate limit exceeded
              schema:
                $ref: "#/components/schemas/auth_register_429_response"
          description: |
            Rate limit exceeded. The **error** field contains the exact backend message, e.g. "API key rate limit exceeded", "Please wait before requesting another magic link".
        "500":
          content:
            application/json:
              example:
                error: Failed to upload file
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Server error. The **error** field contains the exact backend message, e.g. "Authentication failed", "Failed to upload file", "Failed to fetch project".
      security: []
      summary: Login user
      tags:
      - auth
      x-display-name: Login User
      x-sdk-method: login
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/refresh:
    post:
      description: |
        Exchange a valid refresh token for a new JWT access token and refresh token.
        Works for both **organization** (platform/dashboard) and **app** auth; the same endpoint is used.
        The previous refresh token is invalidated (rotation). If the same refresh token is used again, the session is revoked (reuse detection).
      operationId: auth.refresh
      requestBody:
        content:
          application/json:
            example:
              refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
            schema:
              $ref: "#/components/schemas/auth_refresh_request"
        description: JSON body containing the refresh token to exchange for a new
          access token and refresh token (token rotation).
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Token refreshed successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
              schema:
                $ref: "#/components/schemas/auth_refresh_200_response"
          description: New token pair issued
        "400":
          content:
            application/json:
              example:
                error: Refresh token is required
              schema:
                $ref: "#/components/schemas/auth_refresh_400_response"
          description: Missing refresh token
        "401":
          content:
            application/json:
              example:
                error: Invalid or expired refresh token
              schema:
                $ref: "#/components/schemas/auth_refresh_400_response"
          description: Invalid or expired refresh token (or reuse detected)
      security: []
      summary: Refresh access token (org and project)
      tags:
      - auth
      x-display-name: Refresh Token
      x-sdk-method: refresh
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/logout:
    post:
      description: |
        Logout the current authenticated user session.
        Requires JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: auth.logout
      responses:
        "200":
          content:
            application/json:
              example:
                message: Logout successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Logout successful
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Logout user
      tags:
      - auth
      x-display-name: Logout user
      x-sdk-method: logout
      x-accepts:
      - application/json
  /api/auth/local/session:
    get:
      description: |
        Get the current authenticated user session.
        Requires JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: auth.getSession
      parameters:
      - description: Project ID to get session for.
        explode: true
        in: query
        name: projectId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  project:
                    id: 685ad30be129932fbb7a1047
                    name: Mudbase Platform
                    role: developer
                authenticated: true
              schema:
                $ref: "#/components/schemas/auth_getSession_200_response"
          description: Current session
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "404":
          content:
            application/json:
              example:
                error: Project not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Project not found (exact backend message for project endpoints).
      security:
      - BearerToken: []
      summary: Get current session
      tags:
      - auth
      x-display-name: Get Session
      x-sdk-method: getSession
      x-accepts:
      - application/json
  /api/auth/local/password-reset:
    post:
      description: |
        When projectId is provided, sends a 6-digit OTP to the user's email (app reset uses OTP, not link).
        When projectId is omitted, sends a token link (org/platform local account). Rate limited.
      operationId: auth.requestPasswordReset
      requestBody:
        content:
          application/json:
            example:
              email: user@example.com
              projectId: 685ad30be129932fbb7a1047
            schema:
              $ref: "#/components/schemas/auth_requestPasswordReset_request"
        description: Email and optional projectId for app OTP or org token link.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: "If an account exists, a verification code has been sent\
                  \ to your email"
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: OTP or reset email sent (generic message to prevent enumeration)
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "404":
          content:
            application/json:
              example:
                error: Project not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Project not found (exact backend message for project endpoints).
        "429":
          description: Too many requests (rate limit)
        "500":
          content:
            application/json:
              example:
                error: Failed to upload file
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Server error. The **error** field contains the exact backend message, e.g. "Authentication failed", "Failed to upload file", "Failed to fetch project".
      security: []
      summary: Request password reset (OTP)
      tags:
      - auth
      x-display-name: Request Password Reset
      x-sdk-method: requestPasswordReset
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/password-reset/confirm:
    post:
      description: |
        Set new password using the OTP sent to the user's email. Call after
        POST /api/auth/local/password-reset with projectId. Rate limited (OTP limit).
        If the user's email was not yet verified, it is marked as verified upon successful reset.
      operationId: auth.confirmPasswordReset
      requestBody:
        content:
          application/json:
            example:
              email: user@example.com
              projectId: 685ad30be129932fbb7a1047
              otp: "123456"
              newPassword: NewSecurePass123!
            schema:
              $ref: "#/components/schemas/auth_confirmPasswordReset_request"
        description: "Email, projectId, OTP code, and new password."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password reset successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password reset successful
        "400":
          description: "Invalid or expired OTP, or validation error"
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "404":
          content:
            application/json:
              example:
                error: File not found
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Resource not found. The **error** field contains the exact backend message, e.g. "File not found", "Project not found", "User not found", "Project not found or access denied", "Webhook not found", "Organization not found".
        "429":
          description: Too many attempts (rate limit)
        "500":
          content:
            application/json:
              example:
                error: Failed to upload file
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Server error. The **error** field contains the exact backend message, e.g. "Authentication failed", "Failed to upload file", "Failed to fetch project".
      security: []
      summary: Confirm password reset with OTP
      tags:
      - auth
      x-display-name: Confirm password reset with OTP
      x-sdk-method: confirmPasswordReset
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/local/password-reset/{token}:
    post:
      description: |
        Legacy token-based completion. Prefer OTP flow: use POST .../password-reset/confirm
        with the OTP sent to email for app resets.
      operationId: auth.resetPassword
      parameters:
      - description: Password reset token from email link.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: NewSecurePass123!
              projectId: 685ad30be129932fbb7a1047
            schema:
              $ref: "#/components/schemas/auth_resetPassword_request"
        description: New password and optional projectId.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password reset successful
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password reset successful
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "500":
          content:
            application/json:
              example:
                error: Failed to upload file
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Server error. The **error** field contains the exact backend message, e.g. "Authentication failed", "Failed to upload file", "Failed to fetch project".
      security: []
      summary: Reset password with token (legacy)
      tags:
      - auth
      x-display-name: Reset Password
      x-sdk-method: resetPassword
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/oauth/{provider}/{projectId}:
    get:
      description: |
        Initiates OAuth authentication flow for a specified provider and project.
        The OAuth provider must be configured and enabled for the project first.
        After user authentication, redirects to the OAuth provider's consent screen.
      operationId: auth.oauthInitiate
      parameters:
      - description: "OAuth provider identifier (e.g. google, github)."
        example: google
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - apple
          - twitter
          - discord
          - linkedin
          - dropbox
          - slack
          - reddit
          - twitch
          - figma
          - zoom
          - bitbucket
          - salesforce
          - shopify
          - line
          - spotify
          - strava
          - paypal
          - asana
          - trello
          - okta
          - gitea
          - yandex
          - yahoo
          - vk
          - meetup
          type: string
        style: simple
      - description: Project ID for which OAuth is configured.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          example: 685ad30be129932fbb7a1047
          type: string
        style: simple
      - description: The URL to redirect to after authentication. Must be pre-registered
          in project settings.
        example: https://client.app/auth/callback
        explode: true
        in: query
        name: redirect_url
        required: false
        schema:
          format: uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth_oauthInitiate_200_response"
          description: Success (OAuth flow initiated; in most cases the server responds
            with 302 redirect).
        "302":
          description: Redirect to OAuth provider's consent screen
          headers:
            Location:
              description: OAuth provider authorization URL
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                error: google authentication not enabled for this project
              schema:
                $ref: "#/components/schemas/auth_oauthInitiate_400_response"
          description: OAuth provider not configured or not enabled for this project
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "404":
          content:
            application/json:
              example:
                error: Project not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Project not found (exact backend message for project endpoints).
        "500":
          content:
            application/json:
              example:
                error: Failed to upload file
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Server error. The **error** field contains the exact backend message, e.g. "Authentication failed", "Failed to upload file", "Failed to fetch project".
      security: []
      summary: Initiate OAuth authentication
      tags:
      - auth
      x-display-name: Initiate OAuth
      x-sdk-method: oauthInitiate
      x-accepts:
      - application/json
  /api/auth/oauth/callback/{provider}:
    get:
      description: |
        OAuth provider redirects the user here after consent. The server exchanges the code for tokens,
        creates or finds the user, and redirects to the client with token, refreshToken, and expiresIn in query params.
      operationId: auth.oauthCallback
      parameters:
      - description: "OAuth provider identifier (e.g. google, github)."
        explode: false
        in: path
        name: provider
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/auth_oauthCallback_200_response"
          description: Success (in most cases the server responds with 302 redirect
            to client with token).
        "302":
          description: "Redirect with token, refreshToken, and expiresIn"
          headers:
            Location:
              description: "URL with token, refreshToken, expiresIn query params"
              example: https://client.app/callback?token=...&refreshToken=...&expiresIn=1800
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "429":
          content:
            application/json:
              example:
                error: API key rate limit exceeded
              schema:
                $ref: "#/components/schemas/auth_register_429_response"
          description: |
            Rate limit exceeded. The **error** field contains the exact backend message, e.g. "API key rate limit exceeded", "Please wait before requesting another magic link".
      security: []
      summary: OAuth callback handler
      tags:
      - auth
      x-display-name: OAuth Callback
      x-sdk-method: oauthCallback
      x-accepts:
      - application/json
  /api/auth/oauth/providers/available:
    get:
      description: Returns a list of all supported OAuth providers with their configuration
        details
      operationId: auth.getOAuthProviders
      responses:
        "200":
          content:
            application/json:
              example:
                providers:
                - name: google
                  displayName: Google
                  strategy: google
                  defaultScope:
                  - profile
                  - email
                  callbackUrl: /api/auth/oauth/callback/google
                  requiredFields:
                  - clientId
                  - clientSecret
                - name: github
                  displayName: GitHub
                  strategy: github
                  defaultScope:
                  - user:email
                  callbackUrl: /api/auth/oauth/callback/github
                  requiredFields:
                  - clientId
                  - clientSecret
                total: 29
              schema:
                $ref: "#/components/schemas/auth_getOAuthProviders_200_response"
          description: List of available OAuth providers
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security: []
      summary: Get all available OAuth providers
      tags:
      - auth
      x-display-name: Get all available OAuth providers
      x-sdk-method: getOAuthProviders
      x-accepts:
      - application/json
  /api/auth/magic-link/send:
    post:
      description: |
        Sends a one-time magic link to the given email for the project. The user clicks the link
        and is authenticated without a password. Use verify endpoint with the token from the link.
        Public endpoint; rate limited.
      operationId: auth.sendMagicLink
      requestBody:
        content:
          application/json:
            example:
              email: user@example.com
              projectId: 685ad30be129932fbb7a1047
              redirectUrl: https://app.example.com/auth/callback
            schema:
              $ref: "#/components/schemas/MagicLinkRequest"
        description: "Email, projectId, and optional redirect URL for the magic link."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Magic link sent successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Magic link sent
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security: []
      summary: Send magic link
      tags:
      - auth
      x-display-name: Send magic link
      x-sdk-method: sendMagicLink
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/magic-link/verify:
    post:
      description: |
        Exchanges the magic link token (from the link sent by send) for a session. Returns token and user
        on success. Token is short-lived and single-use.
      operationId: auth.verifyMagicLink
      requestBody:
        content:
          application/json:
            example:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InVzZXJAZXhhbXBsZS5jb20iLCJwcm9qZWN0SWQiOiI2ODVhZDMwYmUxMjk5MzJmYmI3YTEwNDciLCJpYXQiOjE3NTA3ODA4OTgsImV4cCI6MTc1MDc4NDQ5OH0.example
            schema:
              $ref: "#/components/schemas/auth_verifyMagicLink_request"
        description: The token from the magic link URL.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Magic link verified successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
                  role: user
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Magic link verified
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security: []
      summary: Verify magic link
      tags:
      - auth
      x-display-name: Verify magic link
      x-sdk-method: verifyMagicLink
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/otp/send:
    post:
      description: |
        Sends a one-time code via SMS or email for the given project. Use verify endpoint to exchange
        the code for a session. Public endpoint; rate limited.
      operationId: auth.sendOtp
      requestBody:
        content:
          application/json:
            example:
              email: user@example.com
              projectId: 685ad30be129932fbb7a1047
              method: email
            schema:
              $ref: "#/components/schemas/OTPSendRequest"
        description: "Project ID, delivery method (sms/email), and phone or email."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: OTP code sent successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: OTP sent
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security: []
      summary: Send OTP code
      tags:
      - auth
      x-display-name: Send OTP code
      x-sdk-method: sendOtp
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/otp/verify:
    post:
      description: |
        Verifies the OTP code and returns a session token and user. Public endpoint.
      operationId: auth.verifyOtp
      requestBody:
        content:
          application/json:
            example:
              identifier: user@example.com
              otp: "123456"
              projectId: 685ad30be129932fbb7a1047
            schema:
              $ref: "#/components/schemas/OTPVerifyRequest"
        description: "Identifier (phone/email), OTP code, and project ID."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: OTP verified successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: OTP verified
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security: []
      summary: Verify OTP code
      tags:
      - auth
      x-display-name: Verify OTP code
      x-sdk-method: verifyOtp
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/anonymous:
    post:
      description: Create an anonymous user session for guest access. Users can later
        convert to full accounts.
      operationId: auth.createAnonymous
      requestBody:
        content:
          application/json:
            example:
              projectId: 685ad30be129932fbb7a1047
              deviceId: device-uuid-123
            schema:
              $ref: "#/components/schemas/auth_createAnonymous_request"
        description: Optional projectId and deviceId for the anonymous session.
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                message: Anonymous session created
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 86400
                user:
                  id: 685acbe0e129932fbb7a0fc2
                  email: anonymous_abc123@anonymous.local
                  firstName: Anonymous
                  lastName: User
                  role: viewer
                  isAnonymous: true
              schema:
                $ref: "#/components/schemas/auth_createAnonymous_200_response"
          description: Anonymous session created
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "404":
          content:
            application/json:
              example:
                error: Project not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Project not found (exact backend message for project endpoints).
      security: []
      summary: Create anonymous session
      tags:
      - auth
      x-display-name: Create anonymous session
      x-sdk-method: createAnonymous
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/auth/anonymous/convert:
    post:
      description: |
        Convert an anonymous user session to a full authenticated account. Preserves user data. Requires JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: auth.convertAnonymous
      requestBody:
        content:
          application/json:
            example:
              email: user@example.com
              password: SecurePassword123!
              firstName: John
              lastName: Doe
            schema:
              $ref: "#/components/schemas/auth_convertAnonymous_request"
        description: "Email, password, and optional firstName, lastName for the new\
          \ full account."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account created successfully
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                expiresIn: 1800
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
                  role: developer
                  emailVerified: false
                  isAnonymous: false
              schema:
                $ref: "#/components/schemas/auth_convertAnonymous_200_response"
          description: Account converted successfully
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
      security:
      - BearerToken: []
      summary: Convert anonymous account to full account
      tags:
      - auth
      x-display-name: Convert anonymous account to full account
      x-sdk-method: convertAnonymous
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/me:
    get:
      description: |
        Get the current authenticated user's profile.
        Accepts JWT Bearer token (BearerToken).
      operationId: users.get
      responses:
        "200":
          content:
            application/json:
              example:
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  role: owner
                  emailVerified: true
                  twoFactorEnabled: false
              schema:
                $ref: "#/components/schemas/users_get_200_response"
          description: User profile
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Get current user profile
      tags:
      - users
      x-display-name: Get current user profile
      x-sdk-method: get
      x-accepts:
      - application/json
  /api/users/update:
    patch:
      description: |
        Update the current user's profile. Requires JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.update
      requestBody:
        content:
          application/json:
            example:
              firstName: John
              lastName: Doe
              avatar: https://example.com/avatar.jpg
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        description: "Profile fields to update (firstName, lastName, avatar)."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Profile updated successfully
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: john.doe@mudbase.dev
                  firstName: John
                  lastName: Doe
                  avatar: https://example.com/avatar.jpg
              schema:
                $ref: "#/components/schemas/users_update_200_response"
          description: Profile updated
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Update user profile
      tags:
      - users
      x-display-name: Update user profile
      x-sdk-method: update
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/password:
    patch:
      description: |
        Change the current user's password. Accepts JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.changePassword
      requestBody:
        content:
          application/json:
            example:
              currentPassword: OldPassword123!
              newPassword: NewSecurePass123!
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
        description: Current password and new password.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Password changed successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Password changed
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Change password
      tags:
      - users
      x-display-name: Change password
      x-sdk-method: changePassword
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/2fa/setup:
    post:
      description: |
        Initiates two-factor authentication setup for the current user. Returns a secret, QR code, and manual entry key
        for the user to add to an authenticator app. Requires JWT Bearer token (BearerToken). API keys are not supported.
      operationId: users.setup2fa
      responses:
        "200":
          content:
            application/json:
              example:
                secret: JBSWY3DPEHPK3PXP
                qrCode: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg=="
                backupCodes:
                - "12345678"
                - "87654321"
              schema:
                $ref: "#/components/schemas/TwoFASetupResponse"
          description: 2FA setup data
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: "Initiate two-factor authentication setup (secret, QR code, backup\
        \ codes)"
      tags:
      - users
      x-display-name: "Initiate two-factor authentication setup (secret, QR code,\
        \ backup codes)"
      x-sdk-method: setup2fa
      x-accepts:
      - application/json
  /api/users/2fa/verify:
    post:
      description: |
        Verify and enable two-factor authentication for the current user. Accepts JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.verify2fa
      requestBody:
        content:
          application/json:
            example:
              token: "123456"
            schema:
              $ref: "#/components/schemas/users_verify2fa_request"
        description: One-time code from the authenticator app.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: 2FA enabled successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: 2FA enabled
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Verify and enable 2FA
      tags:
      - users
      x-display-name: Verify and enable 2FA
      x-sdk-method: verify2fa
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/2fa/disable:
    post:
      description: |
        Disable two-factor authentication for the current user. Requires JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.disable2fa
      requestBody:
        content:
          application/json:
            example:
              password: SecurePass123!
              token: "123456"
            schema:
              $ref: "#/components/schemas/users_disable2fa_request"
        description: Current password and one-time code to confirm disable.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: 2FA disabled successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: 2FA disabled
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Disable 2FA
      tags:
      - users
      x-display-name: Disable 2FA
      x-sdk-method: disable2fa
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/verify-email:
    post:
      description: |
        Verifies the user's email using the token from the link sent at signup.
        Works for both organization (platform) and app signups; the token
        is from the verification link (e.g. verify-email?token=... for org, or
        verify-email?token=...&project=... for project).
      operationId: users.verifyEmail
      requestBody:
        content:
          application/json:
            example:
              token: a1b2c3d4...
            schema:
              $ref: "#/components/schemas/users_verifyEmail_request"
        description: Verification token from the email link; optional projectId for
          project context.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Email verified successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Email verified
        "400":
          description: Invalid verification token
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security: []
      summary: Verify email address (organization and project)
      tags:
      - users
      x-display-name: Verify email address (organization and project)
      x-sdk-method: verifyEmail
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/resend-verification:
    post:
      description: |
        Sends a new verification email to the authenticated user. Rate limited
        (e.g. 3 requests per 15 minutes per user). For app users the
        link includes project context.
      operationId: users.resendVerification
      responses:
        "200":
          content:
            application/json:
              example:
                message: Verification email sent successfully
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Verification email sent
        "400":
          description: Email already verified
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
        "429":
          description: Too many requests (rate limit)
      security:
      - BearerToken: []
      summary: Resend verification email
      tags:
      - users
      x-display-name: Resend verification email
      x-sdk-method: resendVerification
      x-accepts:
      - application/json
  /api/users/me/export:
    get:
      description: |
        Export all user data in JSON format for GDPR data portability compliance. Accepts JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.exportData
      responses:
        "200":
          content:
            application/json:
              example:
                exportedAt: 2024-12-16T10:00:00Z
                user:
                  _id: 685acbe0e129932fbb7a0fc2
                  email: user@example.com
                  firstName: John
                  lastName: Doe
                projects: []
                wallets: []
                transactions: []
                files: []
                integrations: []
                apiKeys: []
              schema:
                $ref: "#/components/schemas/users_exportData_200_response"
          description: User data export
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Export user data (GDPR Article 15)
      tags:
      - users
      x-display-name: Export user data (GDPR Article 15)
      x-sdk-method: exportData
      x-accepts:
      - application/json
  /api/users/me/erase:
    post:
      description: |
        Request account erasure (right to be forgotten). Anonymizes PII and deactivates account with 7-day grace period. Accepts JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.eraseData
      requestBody:
        content:
          application/json:
            example:
              confirmation: DELETE_MY_ACCOUNT
              reason: No longer need the service
            schema:
              $ref: "#/components/schemas/users_eraseData_request"
        description: Confirmation string (DELETE_MY_ACCOUNT) and optional reason for
          erasure.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Account erasure initiated
                details:
                  dataAnonymized: true
                  apiKeysDeactivated: true
                  sessionsDeleted: true
                  accountDisabled: true
                  scheduledForDeletion: 2024-12-23T10:00:00Z
              schema:
                $ref: "#/components/schemas/users_eraseData_200_response"
          description: Account erasure initiated
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
      security:
      - BearerToken: []
      summary: Delete user data (GDPR Article 17)
      tags:
      - users
      x-display-name: Delete user data (GDPR Article 17)
      x-sdk-method: eraseData
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/users/me/oauth-providers:
    get:
      description: |
        Get all OAuth providers linked to the current user's account. Accepts JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.listOAuthProviders
      responses:
        "200":
          content:
            application/json:
              example:
                providers:
                - provider: google
                  providerId: google-user-id-123
                  email: user@gmail.com
                  linkedAt: 2024-12-01T10:00:00Z
                - provider: github
                  providerId: github-user-id-456
                  username: johndoe
                  linkedAt: 2024-12-15T14:30:00Z
              schema:
                $ref: "#/components/schemas/users_listOAuthProviders_200_response"
          description: List of linked OAuth providers
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
      security:
      - BearerToken: []
      summary: List linked OAuth providers
      tags:
      - users
      x-display-name: List linked OAuth providers
      x-sdk-method: listOAuthProviders
      x-accepts:
      - application/json
  /api/users/me/oauth-providers/link/{provider}:
    get:
      description: |
        Initiate OAuth flow to link a new provider to the current account. Accepts JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.linkOAuthProvider
      parameters:
      - description: "OAuth provider to link (e.g. google, github)."
        example: google
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - apple
          - twitter
          - discord
          - linkedin
          type: string
        style: simple
      - description: Project ID for the OAuth link context.
        example: 685ad30be129932fbb7a1047
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/users_linkOAuthProvider_200_response"
          description: Success (OAuth link flow initiated; in most cases the server
            responds with 302 redirect to provider).
        "302":
          description: Redirect to OAuth provider
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
      security:
      - BearerToken: []
      summary: Link OAuth provider to account
      tags:
      - users
      x-display-name: Link OAuth provider to account
      x-sdk-method: linkOAuthProvider
      x-accepts:
      - application/json
  /api/users/me/oauth-providers/{provider}:
    delete:
      description: |
        Remove an OAuth provider from the current account. Cannot unlink if it's the only authentication method. Requires JWT Bearer token (BearerToken). API keys are not supported for this endpoint.
      operationId: users.unlinkOAuthProvider
      parameters:
      - description: "OAuth provider to unlink (e.g. google, github)."
        example: github
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - facebook
          - microsoft
          - apple
          - twitter
          - discord
          - linkedin
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                message: OAuth provider unlinked successfully
                provider: github
              schema:
                $ref: "#/components/schemas/users_unlinkOAuthProvider_200_response"
          description: Provider unlinked successfully
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
      security:
      - BearerToken: []
      summary: Unlink OAuth provider
      tags:
      - users
      x-display-name: Unlink OAuth provider
      x-sdk-method: unlinkOAuthProvider
      x-accepts:
      - application/json
  /api/projects/{projectId}/role-elevation/request:
    post:
      description: "User requests to upgrade to a specific role. May require payment,\
        \ KYC, or admin approval based on role configuration."
      operationId: roleElevation.request
      parameters:
      - description: Project ID.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              roleSlug: vendor
            schema:
              $ref: "#/components/schemas/roleElevation_request_request"
        description: Role slug to request elevation to (e.g. vendor).
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                message: Request submitted
                requestId: req_abc123
                workflow: pending_admin_approval
                status: pending
              schema:
                $ref: "#/components/schemas/roleElevation_request_200_response"
          description: Role elevation request created or auto-approved
        "400":
          description: Invalid request or already has role
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          description: Cannot request role with higher hierarchy
        "404":
          content:
            application/json:
              example:
                error: Role not found
              schema:
                $ref: "#/components/schemas/Error"
          description: Role not found (exact backend message for role-elevation endpoints).
      security:
      - BearerToken: []
      summary: Request role elevation
      tags:
      - roleElevation
      x-display-name: Request role elevation
      x-sdk-method: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/projects/{projectId}/role-elevation/status:
    get:
      description: Get status of pending role elevation requests for current user
      operationId: roleElevation.getStatus
      parameters:
      - description: Project ID.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - description: Optional filter by role slug.
        explode: true
        in: query
        name: roleSlug
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                requests: []
              schema:
                $ref: "#/components/schemas/roleElevation_getStatus_200_response"
          description: List of role elevation requests
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Get role elevation status
      tags:
      - roleElevation
      x-display-name: Get role elevation status
      x-sdk-method: getStatus
      x-accepts:
      - application/json
  /api/projects/{projectId}/role-elevation/documents:
    post:
      description: Upload KYC/verification documents for role elevation
      operationId: roleElevation.uploadDocuments
      parameters:
      - description: Project ID.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              roleSlug: vendor
              documents:
              - type: id
                url: https://example.com/id.pdf
            schema:
              $ref: "#/components/schemas/roleElevation_uploadDocuments_request"
        description: "Role slug and array of document objects (type, url)."
        required: true
      responses:
        "200":
          description: Documents uploaded successfully
        "400":
          content:
            application/json:
              example:
                error: Validation failed
                details:
                  email: Email is required
                  password: Password must be at least 8 characters
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Bad request or validation error. The **error** field contains the exact backend message, e.g. "Validation failed", "projectId is required", "No file provided", "Invalid project ID format". **details** may contain validation errors when present.
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Upload verification documents
      tags:
      - roleElevation
      x-display-name: Upload verification documents
      x-sdk-method: uploadDocuments
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/projects/{projectId}/multi-role:
    get:
      description: Get the ready-to-use multi-role system configuration for a project
      operationId: multiRole.getConfig
      parameters:
      - description: Project ID.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          example: 685ad30be129932fbb7a1047
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  isEnabled: true
                  defaultRole: customer
                  settings:
                    allowMultipleRoles: false
                    requireApproval: false
                  roles:
                  - slug: customer
                    name: Customer
                    description: Regular customer role
                    hierarchy: 10
                    isEnabled: true
                    isCustom: false
                    signupEndpoint: /api/auth/local/signup/customer
                    requiresApproval: false
                    requiresPayment: false
                    requiresKYC: false
                    defaultPermissions:
                    - resource: data
                      actions:
                      - read
                    collectionPermissions: {}
                  - slug: vendor
                    name: Vendor
                    description: Vendor/seller role
                    hierarchy: 30
                    isEnabled: true
                    isCustom: false
                    signupEndpoint: /api/auth/local/signup/vendor
                    requiresApproval: true
                    requiresPayment: true
                    requiresKYC: false
                    defaultPermissions:
                    - resource: data
                      actions:
                      - create
                      - read
                      - update
                    collectionPermissions:
                      products:
                        actions:
                        - create
                        - read
                        - update
                        - delete
                        conditions: {}
              schema:
                $ref: "#/components/schemas/multiRole_getConfig_200_response"
          description: Multi-role configuration
        "401":
          content:
            application/json:
              example:
                error: Invalid token.
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Not authenticated. The **error** field contains the exact backend message, e.g. "Invalid token.", "Access denied. No token provided.", "Authentication required", "Invalid API key", "API key expired".
        "403":
          content:
            application/json:
              example:
                error: Access denied
              schema:
                $ref: "#/components/schemas/Error"
          description: |
            Access denied. The **error** field contains the exact backend message, e.g. "Access denied", "Insufficient permissions", "You don't have permission to view this organization's projects", "Account suspended".
      security:
      - BearerToken: []
      summary: Get multi-role feature configuration
      tags:
      - multiRole
      x-display-name: Get multi-role feature configuration
      x-sdk-method: getConfig
      x-accepts:
      - application/json
  /api/projects/{projectId}/multi-role/settings:
    patch:
      description: |
        Update multi-role feature settings for a project, including enabling/disabling the feature and configuring default roles.
        Accepts BearerToken (JWT) or ApiKeyAuth (X-API-Key).
      operationId: multiRole.updateSettings
      parameters:
      - description: Project ID.
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          example: 685ad30be129932fbb7a1047
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              isEnabled: true
              defaultRole: customer
              settings:
                allowMultipleRoles: false
                requireApproval: false
            schema:
              $ref: "#/components/schemas/multiRole_updateSettings_request"
        description: "Multi-role settings (e.g. isEnabled, defaultRole, allowMultipleRoles,\
          \ requireApproval)."
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                message: Multi-role settings updated
                data:
                  _id: 696e2739d79c3cf2203672e4
                  project: 685ad30be129932fbb7a1047
                  isEnabled: true
                  defaultRole: customer
                  settings:
                    allowMultipleRoles: false
                    requireApproval: false
                  roles: []
                  createdAt: 2025-01-15T10:00:00.000Z
                  updatedAt: 2025-01-15T10:30:00.000Z
              schema:
                $ref: "#/components/schemas/multiRole_updateSettings_200_response"
[...]
